$first-background-color: #121212;
$second-background-color: #2e2e2e;
@use "./sass/base/playlist";
@use "./sass/utils/highlighted";
@use "./sass/mixins/hover";
@use "./sass/base/profile";

// Variabler ska skickas till annan fil efter önskad struktur hittats. Även delar av stylingen ska skickas till respektive adekvat mapp.

body {
    display: grid;
    grid-template-rows: auto 1fr auto;
    height: 100vh;

    font-family: 'Arial', sans-serif;
    background-color: #121212;
    color: white;
    text-align: center;
    margin: 0;
}

header { // Varför inte alltid sticked?
    position: sticky;
    top: 0;
    z-index: 1000;
    background-color: #121212;
}

main {
    display: grid;
    grid-template-columns: 2fr 6fr auto;
}

.mainSections {
    // display: flex;
    background-color: #2e2e2e;
    text-align: start;
    border-radius: 8px;
    margin: 10px;
}



.track-list { // Nestad style i linje med DOM strukturen
    list-style: none;
    padding: 0;

    .track-item {
        padding: 10px;
        cursor: pointer;

        transition: background 0.2s;

        &:hover {
            @include hover.effect();
        }

        .track-name {
            font-weight: bold;
        }

        .artist-name {
            color: #666;
            font-size: 14px;
        }

        &.highlighted {
            background-color: #ffcc00;
            border-radius: 6px;

        }
    }
}